@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Cairo:wght@200;600;900&family=Mooli&family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,400;1,400;1,500;1,700&family=Rubik:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800&family=Tilt+Prism&family=Tulpen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f3f3f3;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.logo {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: silver;
}
.main-section {
  padding: 100px 200px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./photo/main-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main h2 {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-size: 3em;
  font-weight: 600;
}
.main h3 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: white;
  background-color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40x;
  transition: 0.7s ease;
}
.main-btn:hover {
  background-color: #555;
  transform: scale(1.1, 1.1);
}
.social-icons a {
  color: white;
  font-size: 30px;
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px;
}
.title {
  display: flex;
  justify-content: center;
  color: #333;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 50px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.card {
  background-color: white;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}
.icon {
  color: #333;
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: #333;
  font-size: 1.45em;
  font-weight: 700;
  margin: 10px;
}
.info p {
  color: #555;
}
.Projet {
  background-color: #f3f3f3;
}
.Projet .content {
  margin-top: 30px;
}
.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 30em;
  width: 20em;
  /* height: 40em; */
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-img {
  width: 100%;
}
.project-card:hover .project-img {
  opacity: 0.9;
}
.project-info {
  padding: 1em;
}
.project-category {
  font-size: 1em;
  color: #555;
}
.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.more-details {
  text-decoration: none;
  color: #333;
}
.more-details:hover {
  color: silver;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-titel {
  font-size: 1.3em;
  font-weight: 600;
}
.footer-titel span {
  color: slategray;
}
@media (max-width: 1023px) {
  header {
    padding: 6px 23px;
  }
  .navigation a {
    padding-left: 8px;
  }
  .title {
    font-size: 1.8em;
  }
  .main-section {
    padding: 80px 20px;
  }
  .main h2 {
    font-size: 1em;
  }
  .main h3 {
    font-size: 1.6em;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .contents {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    padding: 1em;
  }
  .social-icons a {
    color: white;
    font-size: 20px;
    display: inline-block;
    padding-top: 20px;
   margin-left: 1em;
  }
}
@media (max-width: 641px) {
  body {
    font-size: 12px;
  }
  .main h2 {
    font-size: 0.8em;
  }
  .main h3 {
    font-size: 1.4em;
  }
}
@media (max-width: 300px) {
body{
  font-size: 10px;
}

.footer {
  padding: -1em;
}
.social-icons a {
  color: white;
  font-size: 10px;
  display: inline-block;
  padding-top: 20px;
 margin-left: 1em;
}
}
